header {
    background-color: lawngreen;
    text-align: center;
}

header h1 {
    background-color: orange;
}

nav {
    background-color: orange;
}

section {
    background-color: whitesmoke;
}

footer {
    background-color: orange;
}

aside {
    background-color: whitesmoke;
}

details {
    background-color: orange;
}

summary {
    background-color: whitesmoke;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: underline;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    background-color: lawngreen;
    text-decoration: none;
}

body {
    margin: auto;
    width: 1000px;
    background-image: url("#{resource['default/img/speedway-driver.png']}");
    background-repeat: repeat;
    background-color: lawngreen;
}

article aside {
    float: left;
}

article footer {
    clear: left;
}

section article header {
    text-transform: uppercase;
}

header {
    text-transform: uppercase;
}

th {
    background-color: lawngreen;
    text-transform: uppercase;
    text-align: center;
}

table.Table, table.Table tr, table.Table td, table.Table th {
    border-collapse: collapse;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

table.Table td, table.Table th {
    padding: 15px;
}

table.Table {
    margin: 15px;
}

table.Table th, table.Table caption {
    text-transform: uppercase;
}

/*article {*/
    /*color: darkblue;*/
/*}*/

footer {
    text-align: center;
}

form fieldset {
    margin: 10px;
}

form input, form select {
    background-color: orange;
    border: 1px solid;
    color: black;
}

.label {
    float: left;
}

/*.cookies {*/
    /*position: fixed;*/
    /*top: 5px;*/
    /*right: 5px;*/
    /*background-color: whitesmoke;*/
    /*color: black;*/
    /*padding: 15px;*/
/*}*/

/*.cookies p {*/
    /*margin: 5px;*/
/*}*/

li {
    list-style-type: square;
}

/*.technologia li {*/
/*list-style-type: circle;*/
/*}*/

/*ul.technologia {*/
    /*list-style-image: url('../img/arrow_down_alt2_16x16.png');*/
/*}*/

/*ul.lanSkills {*/
    /*list-style-image: url('../img/bolt_16x16.png');*/
/*}*/

/*ul.itSkills {*/
    /*list-style-image: url('../img/brush_16x16.png');*/
/*}*/

/*ul.intSkills {*/
    /*list-style-image: url('../img/camera_16x16.png');*/
/*}*/
