<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        template="/template.xhtml">
    <ui:define name="content">
        <h:form>
            <h:panelGrid columns="2">
                <h:outputLabel value="name" for="name"/>
                <h:inputText id="name" value="#{cvEdit.cv.info.name}"/>
                <h:outputLabel value="surname" for="surname"/>
                <h:inputText id="surname" value="#{cvEdit.cv.info.surname}"/>
                <h:outputLabel value="adress" for="adress1"/>
                <h:inputText id="adress1" value="#{cvEdit.cv.info.adress1}"/>
                <h:outputLabel value="" for="adress2"/>
                <h:inputText id="adress2" value="#{cvEdit.cv.info.adress2}"/>
                <h:outputLabel value="it skills" for="itSkills"/>
                <h:selectManyCheckbox id="itSkills" value="#{cvEdit.cv.itSkills}" converter="#{technologyConverter}">
                    <f:selectItems value="#{cvEdit.technologies}"/>
                </h:selectManyCheckbox>
            </h:panelGrid>
            <h:commandButton actionListener="#{cvEdit.saveCv}" value="save"/>
        </h:form>
    </ui:define>
</ui:composition>
