<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        template="/template.xhtml">
    <ui:define name="content">
        <article>
            <header><h3>basic information</h3></header>
            <section>
                <h:panelGrid columns="2">
                    <h:outputLabel value="name" for="name"/>
                    <h:outputText id="name" value="#{cvView.cv.info.name}"/>
                    <h:outputLabel value="surname" for="surname"/>
                    <h:outputText id="surname" value="#{cvView.cv.info.surname}"/>
                    <h:outputLabel value="adress" for="adress1"/>
                    <h:outputText id="adress1" value="#{cvView.cv.info.adress1}"/>
                    <h:outputLabel value="" for="adress2"/>
                    <h:outputText id="adress2" value="#{cvView.cv.info.adress2}"/>
                </h:panelGrid>
                <h:button outcome="cv_edit" value="edit">
                    <f:param name="info" value="#{cvEdit.cv.info}"/>
                </h:button>
            </section>
        </article>
        <article>
            <header><h3>education</h3></header>
            <section>
                <h:dataTable var="education" value="#{cvView.cv.education}">
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="School:"/>
                        </f:facet>
                        #{education.school}
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Subject:"/>
                        </f:facet>
                        #{education.subject}
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Years:"/>
                        </f:facet>
                        #{education.years}
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Title(year):"/>
                        </f:facet>
                        #{education.title}
                    </h:column>
                </h:dataTable>
            </section>
        </article>
        <article>
            <header><h3>work experience</h3></header>
            <section>
                <h:dataTable var="workExperience" value="#{cvView.cv.workExperience}">
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Company:"/>
                        </f:facet>
                        #{workExperience.company}
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Location:"/>
                        </f:facet>
                        #{workExperience.location}
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Position:"/>
                        </f:facet>
                        #{workExperience.position}
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Years:"/>
                        </f:facet>
                        #{workExperience.years}
                    </h:column>
                </h:dataTable>
            </section>
        </article>
        <article>
            <header><h3>it skills</h3></header>
            <section>
                <h:dataTable var="itSkills" value="#{cvView.cv.itSkills}">
                    <h:column>
                        #{itSkills.name} - #{itSkills.type}
                    </h:column>
                </h:dataTable>
            </section>
        </article>
        <article>
            <header><h3>language skills</h3></header>
            <section>
                <h:dataTable var="languageSkills" value="#{cvView.cv.languageSkills}">
                    <h:column>
                        #{languageSkills}
                    </h:column>
                </h:dataTable>
            </section>
        </article>
        <article>
            <header><h3>interests</h3></header>
            <section>
                <h:dataTable var="interests" value="#{cvView.cv.interests}">
                    <h:column>
                        #{interests}
                    </h:column>
                </h:dataTable>
            </section>
        </article>
    </ui:define>
</ui:composition>