<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>My CV</title>
    <meta charset="UTF-8"/>
    <meta name="description" content="CV of Paweł Wieraszka"/>
    <meta name="keywords" content="java, html"/>
    <meta name="author" content="gigant"/>
    <h:outputStylesheet library="default" name="css/style.css"/>
</h:head>
<h:body>
    <header>
        <h1>CV</h1>
    </header>
    <nav>
        <ul>
            <li><h:link outcome="index" value="home"/></li>
            <li><h:link outcome="cv_view" value="cv"/></li>
        </ul>
    </nav>
    <section>
        <ui:insert name="content"/>
    </section>
    <footer>&#169; Copyright 2018 <a href="http://codementors.pl/">http://codementors.pl/</a></footer>
</h:body>
</html>